{% include 'include/header.html' %}
{% include 'include/message.html' %}
{% load widget_tweaks %}

<!-- Content wrapper -->
<div class="content-wrapper">
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
<!-- Bordered Table -->
<div class="card">
{% include 'include/buttons.html' %}
<div class="card-body">
<form method="POST" action="/add-company/">
{% csrf_token %}
<div class="row">
<div class="mb-3 col-md-6">
<label class="form-label" for="basic-default-fullname">COMPANY</label>
{{form.company_name |attr:"placeholder:ACME Inc." }} </div>
<div class="mb-3 col-md-6">
<label class="form-label" for="basic-default-company">CONTACT PERSON</label>
{{form.contact_person|attr:"placeholder:John Doe." }}
</div>
</div>
<div class="mb-3">
<label class="form-label" for="basic-default-message">ADDRESS</label>
{{form.address|attr:"placeholder: Address"}}</div>
<div class="row">
<div class="mb-3 col-md-6">
                          <label class="form-label" for="basic-default-email">Email</label>
                          <div class="input-group input-group-merge">
                            {{form.email |attr:"placeholder:john.doe" }}

                            <span class="input-group-text" id="basic-default-email2">@company.com</span>
                          </div>
                          <div class="form-text">You can use letters, numbers & periods</div>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label" for="basic-default-phone">Phone No</label>
                          {{form.phone |attr:"placeholder:658 799 8941"| add_class:"phone-mask" }}
                        </div></div>
                        <div class="row">
                        <div class="mb-3 col-md-6">
                            <label class="form-label" for="basic-default-phone">Management</label>
                        {{form.management|attr:"class:form-select"}}
                        </div>
                       
                    </div>
                       <div class="row">
                        <div class="mb-3 col-md-6 mt-4">
                          <button type="submit" class="btn btn-primary mt-1">ADD COMPANY</button>
                      </div></div> 
                      </form>
                </div>
              </div>
              <!--/ Bordered Table -->
            </div>

           

</div>
{% include 'model/company-model.html' %}  
</div>          
<!-- / Content -->
{% include 'include/footer.html' %}